<!DOCTYPE html>
<div class="ui form segment">
    <div class="field">
        <label>刊号</label>

        <div class="ui left labeled icon input">
            <input placeholder="刊号" type="text" value="{$ addWeekly.issues $}"
                   ng-model="addWeekly.issues">
            <i class="user icon"></i>

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <label>发布时间</label>

        <div class="ui left labeled icon input">
            <input type="text" placeholder="发布时间" value="{$ addWeekly.send_date$}"
                   ng-model="addWeekly.send_date">
            <i class="lock icon"></i>

            <div class="ui corner label">
                <i class="icon asterisk"></i>
            </div>
        </div>
    </div>
    <div class="field">
        <div class="ui toggle checkbox" ng-click="checked(this)">
            <!--目前只研究出这种办法来解决，不绑定值，直接修改数据-->
            <input type="checkbox" checked="checked" ng-if="addWeekly.is_send">
            <input type="checkbox" ng-if="!addWeekly.is_send;">
            <label>是否发布</label>
        </div>
    </div>
    <div class="field">
        <div class="ui small red button" ng-click="choice_article()" data-toggle="modal" data-target="#articleDialog">选择文章</div>
    </div>
    <div class="field" ng-if="article_scope.selected_articles.length">
        <span>选中的文章:</span>
        <div class="ui label" ng-repeat="article in article_scope.selected_articles">
              {$ article.title $}
              <i class="delete icon" ng-click="article_scope.select_article(article)"></i>
        </div>
    </div>
    <div class="ui right labeled blue submit button" ng-click="saveWeekly(addWeekly)"><i
            class="checkmark icon"></i>保存
    </div>
    <div class="ui right labeled black submit button" ng-click="changeAdd()"><i
            class="remove icon"></i>取消
    </div>
</div>
