{% extends 'question/back_base.html' %}
{% block title %}数据周刊{% endblock %}

{% block content %}


<div class="segment" ng-controller="QuestionCtrl">
    <div class="container">
        <div class="ui grid" ng-show="!isAdd">
            <div class="row">
                <div class="column">
                    <div class="ui mini icon input">
                        <input type="text" size="40" placeholder="搜索标题" value="{$ query $}" ng-model="query"
                               ng-change="search(query)">
                    </div>
                    <div style="display:inline;float: right;">
                        <div class="ui small right labeled icon red button" ng-click="changeAdd()"><i
                                class="add icon"></i>新增问题
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="column">
                    <table class="ui table segment " >
                        <thead>
                        <tr>
                            <th>标题</th>
                            <th>答案数</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="question in questions ">
                            <td>
                                {$ question.title $}
                            </td>
                            <td>
                                {$ question.answers_count $}

                            </td>
                            <td class="option">
                                <a style="cursor: hand;cursor: pointer;" title="修改" ng-click="editQuestion(question.id)">
                                    <i class="purple edit icon"></i>
                                </a>
                                <a style="cursor: hand;cursor: pointer;" title="删除" ng-click="isDelete(question)">
                                    <i class="red remove icon"></i>
                                </a>
                            </td>
                        </tr>
                        <tr ng-show="!questions.length">
                            <td colspan="3">没有数据</td>
                        </tr>
                        <tr>
                            <th colspan="3" style="text-align:right">
                                <div class="ui small pagination menu" ng-repeat="page in pageArray">
                                    <a class="icon item" ng-if="page.num == 1 && currentPage>1"
                                       ng-click="paging(currentPage-1)">
                                        <i class="icon left arrow"></i>
                                    </a>

                                    <a class=" active item" ng-if="!page.disabled && page.num == currentPage">
                                        {$ page.num $}
                                    </a>
                                    <a class="item" ng-if="!page.disabled && page.num != currentPage"
                                       ng-click="paging(page.num)">
                                        {$ page.num $}
                                    </a>

                                    <div class="disabled item" ng-if="page.disabled">
                                        ...
                                    </div>
                                    <a class=" icon item" ng-if="page.num == pageCount && nextPage"
                                       ng-click="paging(currentPage+1)">
                                        <i class="icon right arrow"></i>
                                    </a>
                                </div>
                                <span>
                                    共{$ pageCount $}页

                                </span>
                            </th>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
         <div ng-show="isAdd">
            {% include 'question/edit_question.html' %}
         </div>
    </div>
    {% include 'question/edit_question_dialog.html' %}

</div>
{% endblock %}

{% block script %}
<script>

    var app = angular.module('app',['ngResource']).config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{$');
        $interpolateProvider.endSymbol('$}');
    });
    // django 的重复提交可以不用考虑
    app.config(['$httpProvider', function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = '{{ csrf_token|escapejs }}';
    }]);
    app.factory("Question", function($resource) {
        return $resource("/api/question/:id",{ id: '@id' },{
            query: { method: "GET", isArray: false },
            update:{method:"PUT"}
        });
    });
    app.factory("QuestionSearch", function($resource) {
        return $resource("/api/question/search/:issues",{ issues: '@issues' },{
            get:{method:"GET",isArray: false}
        });
    });
    app.factory("ArticleList", function($resource) {
        return $resource("/api/article/:id",{ id: '@id' },{
            query:{method:"GET",isArray: false}
        });
    });
    app.factory("Tag", function($resource) {
        return $resource("/api/tag/:id",{ id: '@id' },{
            query:{method:"GET",isArray: false}
        });
    });
    app.factory("TagSearch", function($resource) {
        return $resource("/api/tag/search/:title",{ title: '@title' },{
            get:{method:"GET",isArray: true}
        });
    });
    app.controller("QuestionCtrl", function($sce,$scope, Question,QuestionSearch,ArticleList,Tag,TagSearch) {
       Question.query(function(data) {
            $scope.questions = data.results;
            initPage($scope,data,1,5)

       });
       $scope.tag_query = "";
       $scope.tags = [];
       $scope.select_tags = [];
       $scope.select_tag_ids = [];
       $scope.search_tag = function(tag_query){
            if(tag_query){
                TagSearch.get({title:tag_query,list:$scope.select_tag_ids},function(data){
                    $scope.tags = data;
                });
            }else{
                $scope.tags = [];
            }
       }
       $scope.add_tag = function(tag_query){
            if(tag_query){
                Tag.save({title:tag_query},function(data){
                    if($scope.searchIndex($scope.select_tag_ids,data.id)==-1){
                        $scope.select_tags.push(data);
                        $scope.select_tag_ids.push(data.id);
                        $scope.tag_query = "";
                        console.log( $scope.select_tag_ids);
                    }else{
                        $scope.tag_query = "";
                    }
                });
            }
       }
       $scope.choice_tag = function(tag){
            $scope.select_tags.push(tag);
            $scope.select_tag_ids.push(tag.id);
            $scope.tags.splice($scope.searchIndex($scope.tags,tag),1);
       }
       $scope.delete_tag = function(tag){
            $scope.select_tags.splice($scope.searchIndex($scope.select_tags,tag),1);
            $scope.select_tag_ids.splice($scope.searchIndex($scope.select_tag_ids,tag.id),1);
            console.log( $scope.select_tag_ids);

       }
       $scope.search = function(query){
            if(query){
                QuestionSearch.get({issues:query,page:1},function(data){
                    $scope.questions = data.results;
                    initPage($scope,data,1,5)
                });
            }else{
                Question.query(function(data) {
                    $scope.questions = data.results;
                    initPage($scope,data,1,5)
                });
            }
       }
       // 分页
       $scope.paging = function(page){
            //判断是否为在搜索中翻页
            var query = $scope.query;
            if(query){
                QuestionSearch.get({issues:query,page:page},function(data){
                    $scope.questions = data.results;
                    initPage($scope,data,page,5)
                });
            }else{
                Question.query({page:page},function(data) {
                    $scope.questions = data.results;
                    initPage($scope,data,page,5)
                });
            }
       }
       // 提示删除
       $scope.isDelete = function(question){
            $scope.deleteQuestion = question;
            $('#deleteModal').modal('show');
       }
       // 删除方法
       $scope.removeQuestion = function(deleteQuestion){
            Question.delete({id:deleteQuestion.id},function(data){
                initList($scope,Question,QuestionSearch)
            });
       }
       $scope.isAdd = false;
       $scope.editor = new Simditor({
          textarea: $('#editor')
        });
       $scope.form_errors=[];
       $scope.changeAdd = function(){
            $scope.form_errors=[];
            if($scope.isAdd){
                $scope.isAdd = false;
                $scope.answers_editor = [];
            }else{
                $scope.addQuestion = {answers:[],answers_editor:[],title:'',original_author:'',trackback_url:''};
                $scope.isAdd = true;
                $scope.editor.setValue("");
                $scope.answers_editor = [];
                $scope.add_answer();
            }
       }
       $scope.answers_editor = [];
       $scope.add_answer = function(){
            if(!$scope.addQuestion.answers){
                $scope.addQuestion.answers = [];
            }
            $scope.addQuestion.answers.push({is_accept:true});
            setTimeout(function(){
                var editor = new Simditor({
                          textarea: $('#answer_editor_'+($scope.addQuestion.answers.length-1))
                        });
                $scope.answers_editor.push(editor);

            },300)


       }
       // 新增和修改的变量
       $scope.addQuestion = {};
       // 新增和和修改的方法
       $scope.saveQuestion = function(addQuestion){
            addQuestion.content =  $scope.editor.getValue();
            addQuestion.tags = $scope.select_tag_ids;

            for(i = 0 ; i<$scope.answers_editor.length;i++){
                addQuestion.answers[i].content = $scope.answers_editor[i].getValue();
            }
            if(validateQuestionFrom($scope,addQuestion)){
                if(!addQuestion.id){
                    Question.save(addQuestion,function(data){
                        initList($scope,Question,QuestionSearch)
                    });
                }else{
                    Question.update(addQuestion,function(data){
                        initList($scope,Question,QuestionSearch);
                    })


                }
            }
       }
       // 打开修改页面方法
       $scope.editQuestion = function(id){
            $scope.form_errors=[];
            $scope.answers_editor = [];
            $scope.addQuestion = Question.get({id:id},function(){
                $scope.isAdd = true;
                $scope.editor.setValue($scope.addQuestion.content);
                setTimeout(function(){
                    for(i=0;i<$scope.addQuestion.answers.length;i++){


                            var editor = new Simditor({
                                          textarea: $('#answer_editor_'+i)
                                        });
                            editor.setValue($scope.addQuestion.answers[i].content)
                            $scope.answers_editor.push(editor);


                    }
                },1000)


            });

       }



       // 查找文章是否被选中(待优化算法),也可以是其他obj
       $scope.searchIndex = function (array,obj){
            var index = -1;
            for (i=0;i<array.length;i++){
                if(obj.id == array[i].id){
                    return i;
                }
            }
            return index
        }
        //
       $scope.getContentHtml=function(content)
       {
            //可以在此拼接其他的html
            return $sce.trustAsHtml(content);

       }



    });



    // 初始化分页
    function initList($scope,Question,QuestionSearch){
        var query = $scope.query;
        if(query){
            QuestionSearch.get({issues:query,page:1},function(data){
            $scope.questions = data.results;
            initPage($scope,data,1,5)
            });
        }else{
            Question.query(function(data) {
                $scope.questions = data.results;
                    initPage($scope,data,1,5)
                });
        }
        $scope.isAdd = false;
        $scope.addQuestion = {};

    }
    function validateQuestionFrom($scope,question){
        var validate = true;
        if(question.title.trim().length<=0){
            $scope.form_errors.push({title:"问题标题",message:"不能为空"});
            validate = false;
        }
        if(question.content.trim().length<=0){
            $scope.form_errors.push({title:"问题描述",message:"不能为空"});
            validate = false;
        }
        if(question.trackback_url.length<=0){
            $scope.form_errors.push({title:"引用地址",message:"不能为空"});
            validate = false;
        }
        if(question.answers.length==0){
            $scope.form_errors.push({title:"答案",message:"不能为空"});
            validate = false;
        }else{
            for(i=0;i<question.answers.length;i++){
                var answer = question.answers[i];
                if(answer.content.trim().length<=0){
                     $scope.form_errors.push({title:"答案正文",message:"不能为空"});
                     validate = false;
                     break;
                }
            }
        }

        return validate;

    }



</script>
{% endblock %}